spring:
  application:
    name: classiverse-be  # (맨 위에 적어두면 깔끔합니다)

  datasource:
    url: jdbc:mysql://localhost:3306
    username: root
    password: "00000000"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

server:
  servlet:
    encoding:
      charset: UTF-8
      force: true