spring:
  application:
    name: classiverse-be
  profiles:
    active: local

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

app:
  frontend-redirect-url: http://localhost:5173/login-success